.select {
  position: relative;
  width: 100%;
  z-index: 1000;
}

.select__trigger {
  display: flex;
  background-color: #fff;
  border: 0 solid #ccc;
  border-radius: 0.3125rem;
  cursor: pointer;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
  line-height: 1.4;
  user-select: none;
  font-size: 14px;
  justify-content: space-between;
  font-family: 'Lato';
  text-transform: uppercase;
  color: #6F6E6E;
  margin: 0 9px 0 0;
}

.select__trigger::after {
  content: '';
  width: 11px;
  height: 7px;
  background-size: auto;
  background-image: url('../img/dropdown.svg');
}

.select__trigger:focus {
  outline: none;
}

.select_show .select__trigger::after {
  transform: rotate(180deg);
}

.select__trigger:hover {
  color: #F16D7F;
}

.select__dropdown {
  display: none;
  position: absolute;
  top: 2.5rem;
  left: 0;
  right: 0;
  border: 0 solid #ccc;
  max-height: 10rem;
  overflow-y: auto;
  background-color: #fff;
}

.select_show .select__dropdown {
  display: block;
}

.select_show .select__backdrop {
  display: block;
}

.select__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.select__item {
  padding: 0.375rem 0.75rem;
}

.select__item_selected {
  background-color: #e1f5fe;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select__item_selected::after {
  content: '';
  width: 0.75rem;
  height: 0.75rem;
  color: #0277bd;
  background-size: cover;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="100" width="100" class="svg-inline--fa fa-check fa-w-16" data-icon="check" data-prefix="fas" aria-hidden="true"%3E%3Cpath d="M33.964 85.547l-32.5-32.251a4.935 4.935 0 010-7.017l7.071-7.017a5.027 5.027 0 017.071 0L37.5 60.987l46.894-46.534a5.028 5.028 0 017.07 0l7.072 7.017a4.935 4.935 0 010 7.017l-57.5 57.06a5.027 5.027 0 01-7.072 0z" fill="#6F6E6E"');
}

.select__item:hover {
  color:#F16D7F;
  cursor: pointer;
  transition: 0.2s background-color ease-in-out;
}

.select__backdrop {
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  background-color: transparent;
}
