:root {
    --dark-blue: #222222;
    --very-dark-blue: #222224;
    --pink: #F1E4EE;
    --dark-pink: #F16D7F;
    --brown: #474040;
    --grey: #9F9F9F;
    --very-light-grey: #FBFBFB;
    --dark: #222222;
    --white: #FFFFFF;
    --cold-white: #F8F8F8;
    --very-light-red: #FF6A6A;
    --soft-red: #F26376;
    --red: #FF0000;
}

body {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.container {
    width: 1138px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.header {
    background-color: var(--dark-blue);
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 75px;
}

.header__navigation {
    display: none;
}

.header__button {
    background-color: transparent;
    border: none;
    margin: 0 34px 0 0;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__person-link {
    margin: 0 34px 0 0;
}

.brand {
    display: flex;
    margin: 0 0 63px;
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.brand__title-wrapper {
    padding: 0 0 0 91px;
    flex-grow: 1;
    background-color: var(--pink);
    display: flex;
    align-items: center;
}

.brand__subtitle {
    display: block;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}

.brand__subtitle-pink {
    color: var(--dark-pink);
}

.offers {
    padding: 0 0 97px 0;
}

.offers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.offers__item {
    color: var(--white);
    width: 360px;
    min-height: 260px;
    background-color: var(--brown);
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offers__item--woman {
    background-image: url(../img/woman-offers.jpg);
}

.offers__item--man {
    background-image: url(../img/man-offers.png);
}

.offers__item--kids {
    background-image: url(../img/kids-offers.png);
}

.offers__item--accessories {
    background-image: url(../img/accessories-offers.png);
    width: 100%;
    margin: 0;
}

.offers__title {
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.offers__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: var(--dark-pink);
}

.products__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: var(--dark);
    text-align: center;
}

.products__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--grey);
    text-align: center;
}

.products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
    padding: 48px 0 0 0;
}

.products__item {
    width: 360px;
    margin: 0 0 30px;
    background: var(--cold-white);
}

.products__info {
    padding: 25px 29px 20px 16px;
}

.products__name {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    margin: 0 0 12px;
}

.products__description {
    font-weight:300;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 18px;
}

.products__price {
    font-size: 16px;
    line-height: 19px;
    color: var(--dark-pink);
}

.products__more {
    display: flex;	
    justify-content: center;
    margin: 49px 0 96px 0;
}

.products__btn {
    appearance: none;
    border: 1px solid var(--very-light-red);
    color: var(--soft-red);
    background-color: var(--white);
    padding: 14px 38px 13px 38px;
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
}

.products__btn:active {
    border-color: var(--red);
}

.advantages {
    background-color: var(--very-dark-blue);
    max-height: 341px;
}

.advantages__list {
    display: flex;
    padding: 103px 0 104px 0;

}

.advantages__item {
    text-align: center;
}

.advantages__name {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: var(--very-light-grey);
    padding: 28px 0 16px 0;
}

.advantages__description{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--very-light-grey);
}

.footer__subscription {
    background-image: url(../img/footer-background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 448px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__quote {
    padding: 97px 0 0 0;
    text-align: center;
}

.footer__text {
    width: 359px;
    font-size: 20px;
    line-height: 24px;
    color: var(--very-dark-blue);
    padding: 30px 0 0 0;
}

.footer__text-italic {
    font-style: italic;
}

.footer__subscribe {
    padding: 150px 100px 0 0;
}

.footer__substitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: var(--very-dark-blue);
    text-align: center;
    text-transform: uppercase;
}

.footer__substext {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: var(--very-dark-blue);
    text-align: center;
    text-transform: uppercase;
    padding: 0 0 32px 0;
}

input[type=text] {
    border-radius: 30px;
    padding: 16px 131px 16px 22px;
    background: var(--very-light-grey);
    border: 0px;
}

input[placeholder] {
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    color: var(--very-dark-blue);
    opacity: 0.67;
}

.footer__form--subscribe{
    background: var(--dark-pink);
}

.footer__bottom {
    background-color: var(--very-dark-blue);
    height: 79px;
}

.footer__copy {
    font-size: 16px;
    line-height: 19px;
    color: var(--very-light-grey);
    padding: 30px 0 0 0;
}

.footer__icons {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 0 0;
}