/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  overflow-x: hidden;
}

body {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

button,
button:active,
button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.container {
  width: 1138px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    width: 96%;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  background-color: #222222;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 75px;
}

.header__menu-hover {
  position: absolute;
  width: 100%;
  height: 1200px;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1;
}

.header__navigation {
  display: none;
  height: 765px;
  width: 232px;
  position: absolute;
  right: 0;
  z-index: 1;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  background: #FFFFFF;
}

.header__menu {
  padding: 32px 0 0 32px;
}

.header__menu-close {
  display: block;
  background-image: url(../img/close-menu.svg);
  margin: 16px 16px 12px;
  height: 12px;
  width: 12px;
  position: absolute;
  right: 17px;
  top: 16px;
  cursor: pointer;
}

.header__menu-heading {
  color: var(--dark);
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

.header__menu-display-block {
  display: block;
}

.header__nav-parent-category {
  color: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.header__navlist li {
  margin: 12px 0 0 20px;
}

.header__navigation a {
  text-decoration: none;
  color: #6e6e6e;
}

.header__button {
  border: none;
  background-color: transparent;
  margin: 0 34px 0 0;
  cursor: pointer;
}

@media (max-width: 375px) {
  .header__button {
    margin: 0 16px 0 0;
  }
}

.header__controls {
  cursor: pointer;
}

.header__button:hover .header__menu-icon {
  filter: invert(25%);
}

.header__person-link:hover .header__reg-icon {
  filter: invert(25%);
}

.header__cart-link:hover .header__cart-icon {
  filter: invert(25%);
}

.header__loupe-logo:hover {
  filter: invert(25%);
}

.header__logo {
  margin: 0 41px 0 0;
}

@media (max-width: 1200px) {
  .header__logo {
    margin: 0 41px 0 18px;
  }
}

@media (max-width: 375px) {
  .header__logo {
    margin: 0 41px 0 16px;
  }
}

.header__person-link {
  margin: 0 34px 0 0;
}

@media (max-width: 375px) {
  .header__person-link {
    display: none;
  }
}

@media (max-width: 375px) {
  .header__cart-link {
    display: none;
  }
}

.brand {
  display: flex;
  margin: 0 0 63px;
}

@media (max-width: 1200px) {
  .brand {
    margin: 0 0 19px;
  }
}

.brand__img {
  width: 50%;
  height: auto;
}

@media (max-width: 375px) {
  .brand__img {
    display: none;
  }
}

.brand__text {
  border-left: 12px solid #F16D7F;
  padding: 0 0 0 16px;
}

.brand__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .brand__title {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
    font-style: normal;
  }
}

@media (max-width: 375px) {
  .brand__title {
    font-size: 38px;
    line-height: 46px;
    font-weight: 900;
    font-style: normal;
  }
}

.brand__subtitle {
  display: block;
  font-size: 37px;
  line-height: 44px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .brand__subtitle {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 375px) {
  .brand__subtitle {
    font-size: 20px;
    line-height: 24px7900;
    font-weight: 400;
    font-style: normal;
  }
}

.brand__title-wrapper {
  padding: 0 0 0 45px;
  flex-grow: 1;
  background-color: #F1E4E4;
  display: flex;
  align-items: center;
}

@media (max-width: 375px) {
  .brand__title-wrapper {
    min-height: 363px;
    margin: 0 0 64px 0;
  }
}

.brand__subtitle-pink {
  color: #F16D7F;
}

.offers {
  padding: 0 0 97px 0;
}

@media (max-width: 1200px) {
  .offers {
    padding: 0 0 156px 0;
  }
}

@media (max-width: 375px) {
  .offers {
    padding: 0 0 64px 0;
  }
}

.offers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 375px) {
  .offers__list {
    flex-direction: column;
    align-items: center;
    padding: 65px 0 0 0;
  }
}

.offers__item {
  color: #FFFFFF;
  width: 360px;
  min-height: 260px;
  background-color: #474040;
  margin: 0 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .offers__item {
    max-width: 232px;
    min-height: 167px;
  }
}

.offers__item--woman {
  background-image: url(../img/woman-offers.jpg);
}

@media (max-width: 1200px) {
  .offers__item--woman {
    background-size: cover;
  }
}

@media (max-width: 375px) {
  .offers__item--woman {
    min-width: 343px;
    min-height: 247px;
  }
}

.offers__item--man {
  background-image: url(../img/man-offers.png);
}

@media (max-width: 1200px) {
  .offers__item--man {
    background-size: cover;
  }
}

@media (max-width: 375px) {
  .offers__item--man {
    min-width: 343px;
    min-height: 247px;
  }
}

.offers__item--kids {
  background-image: url(../img/kids-offers.png);
}

@media (max-width: 1200px) {
  .offers__item--kids {
    background-size: cover;
  }
}

@media (max-width: 375px) {
  .offers__item--kids {
    min-width: 343px;
    min-height: 247px;
  }
}

.offers__item--accessories {
  background-image: url(../img/accessories-offers.png);
  width: 100%;
  margin: 0;
}

@media (max-width: 1200px) {
  .offers__item--accessories {
    max-width: 735px;
    background-size: 100%;
  }
}

@media (max-width: 375px) {
  .offers__item--accessories {
    max-width: 343px;
    min-height: 111px;
  }
}

.offers__title {
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.offers__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #F16D7F;
}

.products__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  color: #222222;
  text-align: center;
}

.products__subtitle {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #9F9F9F;
  text-align: center;
}

.products__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
  padding: 48px 0 0 0;
}

.products__item {
  width: 360px;
  margin: 0 0 30px;
  background: #F8F8F8;
  cursor: pointer;
}

.products__add {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #222222;
  opacity: 0.7;
  top: 0px;
  min-height: 420px;
}

.products__item-overlay {
  text-decoration: none;
  padding: 0 13px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  min-height: 43px;
  min-width: 138px;
  fill: #FFFFFF;
  top: 192px;
  left: 110px;
  position: absolute;
  transition-duration: 300ms;
  transition-timing-function: ease in;
}

.products__image:hover .products__add {
  display: block;
}

.products__item-overlay:hover {
  color: #F16D7F;
  border: 1px solid #F16D7F;
  fill: #F16D7F;
  transform: scale(1.05);
}

.products__add {
  display: none;
}

.products__image {
  position: relative;
}

.products__info {
  padding: 25px 29px 20px 16px;
}

.products__name {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin: 0 0 12px;
}

.products__description {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  margin: 0 0 18px;
}

.products__price {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
}

.products__more {
  display: flex;
  justify-content: center;
  margin: 49px 0 96px 0;
}

@media (max-width: 1200px) {
  .products__more {
    margin: 47px 0 78px 0;
  }
}

@media (max-width: 375px) {
  .products__more {
    margin: 41px 0 96px 0;
  }
}

.products__btn {
  appearance: none;
  border: 1px solid #FF6A6A;
  color: #F26376;
  background-color: #FFFFFF;
  padding: 14px 38px 13px 38px;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  font-style: normal;
  cursor: pointer;
  transition-duration: 500ms;
  transition-timing-function: ease in;
}

.products__btn:hover {
  background: #F16D7F;
  color: #FFFFFF;
  transform: scale(1.1);
}

.products__btn:active {
  border-color: #FF0000;
}

.advantages {
  background-color: #222224;
  max-height: 341px;
}

@media (max-width: 1200px) {
  .advantages {
    min-height: 610px;
  }
}

.advantages__list {
  display: flex;
  padding: 103px 0 104px 0;
}

@media (max-width: 1200px) {
  .advantages__list {
    flex-direction: column;
    align-items: center;
    padding: 48px 0 0 0;
  }
}

.advantages__item {
  text-align: center;
}

@media (max-width: 1200px) {
  .advantages__item {
    max-width: 360px;
    padding: 0 0 48px 0;
  }
}

.advantages__name {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #FBFBFB;
  padding: 28px 0 16px 0;
}

.advantages__description {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #FBFBFB;
}

.footer__subscription {
  background-image: url(../img/footer-background.png);
  background-repeat: no-repeat;
  height: 448px;
  background-size: 100%;
}

@media (max-width: 1200px) {
  .footer__subscription {
    background-size: cover;
    height: 100%;
  }
}

.footer__subscription-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1200px) {
  .footer__subscription-content {
    flex-direction: column;
  }
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 375px) {
  .footer__content {
    flex-direction: column-reverse;
  }
}

.footer__quote {
  padding: 97px 0 0 0;
  text-align: center;
}

@media (max-width: 1200px) {
  .footer__quote {
    padding: 53px 0 48px 0;
  }
}

.footer__text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  width: 359px;
  color: #222224;
  padding: 30px 0 0 0;
}

.footer__text-italic {
  font-style: italic;
}

.footer__subscribe {
  padding: 150px 100px 0 0;
}

@media (max-width: 1200px) {
  .footer__subscribe {
    padding: 0 0 140px 0;
  }
}

.footer__substitle {
  font-size: 24px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
  color: #222224;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 375px) {
  .footer__substitle {
    font-size: 24px;
    line-height: 27px;
    font-weight: 700;
    font-style: normal;
  }
}

.footer__substext {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #222224;
  text-align: center;
  text-transform: uppercase;
  padding: 0 0 32px 0;
}

@media (max-width: 375px) {
  .footer__substext {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
  }
}

.footer__input {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  background: #E1E1E1;
  width: 170px;
  height: 36px;
  padding: 7px 64px 6px 22px;
  border-radius: 24px 0px 0px 24px;
  border: 0px;
  opacity: 0.67;
  cursor: pointer;
  transition-duration: 500ms;
}

.footer__input:hover {
  background: #F1E4E4;
}

.footer__input:focus {
  border-color: #F26376;
}

.footer__form {
  display: flex;
}

.footer__form-subscribe {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  width: 95px;
  padding: 7px 6px 6px 15px;
  border: 0px;
  color: #FFFFFF;
  background: #F16D7F;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 0px 24px 24px 0px;
  cursor: pointer;
  transition-duration: 500ms;
  transition-timing-function: ease in;
}

.footer__form-subscribe:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

.footer__bottom {
  background-color: #222224;
  height: 79px;
}

@media (max-width: 375px) {
  .footer__bottom {
    height: 100%;
  }
}

.footer__copy {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #FBFBFB;
  margin: 24px 0 0 0;
}

@media (max-width: 375px) {
  .footer__copy {
    margin: 40px 0 9px 0;
  }
}

.footer__icons {
  display: flex;
  justify-content: space-between;
  margin: 24px 0 0 0;
}

@media (max-width: 375px) {
  .footer__icons {
    margin: 43px 0 0 0;
  }
}

.footer__icons-img {
  background-color: #FFFFFF;
  width: 32px;
  height: 32px;
  margin-right: 7.3px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 500ms;
}

.footer__icons-img:hover {
  background-color: #F16D7F;
}

.registration__header-bg {
  width: 100%;
  height: 148px;
  background: #F8F3F4;
}

.registration__header-content {
  padding: 59px 0 60px 0;
}

.registration__header-content h1 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}

.registration__area {
  display: flex;
  justify-content: space-between;
}

.registration__form {
  display: flex;
  flex-direction: column;
  width: 360px;
  box-sizing: border-box;
  padding: 64px 0 96px 0;
}

.registration__title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #000000;
}

.registration__form h4 {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 16px;
  color: #9F9F9F;
}

.registration__form-width {
  width: 100%;
  cursor: pointer;
}

.registration__form-width:hover {
  background-color: #F1E4E4;
}

.registration__form-width:focus {
  border-color: #F1E4E4;
}

.registration__gender {
  cursor: pointer;
}

.registration__form input {
  margin-top: 20px;
  height: 45px;
  padding-left: 16.7px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  background: #FFFFFF;
  border: 1px solid #9F9F9F;
}

.registration__radio-btn {
  display: flex;
  align-items: flex-end;
  margin: 0 0 33px 0;
}

.registration__radio-btn label {
  margin: 0 10px 15px 10px;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
}

.registration__btn {
  width: 167px;
  height: 50px;
  background-color: #F16D7F;
  box-sizing: border-box;
  border: none;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px 0 29px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: 500ms;
  transition-timing-function: ease in;
}

.registration__btn:hover {
  opacity: 0.6;
  color: #FFFFFF;
  transform: scale(1.05);
}

.registration__loyalty {
  max-width: 652px;
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
}

.registration__loyalty h2 {
  margin-bottom: 22px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
}

.registration__loyalty ul {
  margin: 21px 0 0 28px;
}

.registration__loyalty li {
  list-style-image: url(../img/check.png);
  margin-bottom: 16px;
}

.cart__header-content {
  padding: 59px 0 60px 0;
}

.cart__header-content h1 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}

.cart__header-bg {
  width: 100%;
  height: 148px;
  background: #F8F3F4;
}

.cart__content {
  display: flex;
  justify-content: space-between;
  padding: 96px 0 128px;
}

.cart__item-list {
  width: 652px;
}

.cart__item {
  position: relative;
  display: flex;
  box-shadow: 17px 19px 24px 0px #00000021;
  margin-bottom: 40px;
}

.cart__item-remove {
  position: absolute;
  fill: #575757;
  top: 28px;
  right: 22px;
  cursor: pointer;
  transition-duration: 500ms;
  transition-timing-function: ease in;
}

.cart__item-remove:hover {
  fill: #F16D7F;
  transform: scale(1.05);
}

.cart__item-info {
  margin: 22px 0 0 31px;
}

.cart__item-info-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  font-style: normal;
  margin-bottom: 42px;
  color: #222224;
}

.cart__item-info-param {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  font-style: normal;
  color: #575757;
  margin-bottom: 6px;
}

.cart__item-info-param-float {
  float: left;
}

.cart__item-info-price {
  color: #F16D7F;
}

.cart__item-qnt {
  margin-left: 24px;
  padding-left: 16px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  width: 44px;
  border: 1px solid #A4A4A4;
  color: #575757;
  cursor: pointer;
}

.cart__button {
  padding: 17px 40px;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  border: 1px solid #A4A4A4;
  box-sizing: border-box;
  text-transform: uppercase;
  color: #000000;
  transition-duration: 500ms;
  transition-timing-function: ease in;
}

.cart__button:hover, .cart__button:focus {
  background: #F16D7F;
  color: #FFFFFF;
  transform: scale(1.05);
}

.cart__button__wrap {
  display: flex;
  justify-content: space-between;
}

.cart__form {
  max-width: 360px;
}

.cart__form-title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  font-style: normal;
  margin-bottom: 21px;
}

.cart__form-input {
  width: 100%;
  height: 45px;
  padding-left: 17px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  border: 1px solid #A4A4A4;
  box-sizing: border-box;
  margin-bottom: 21px;
  cursor: pointer;
}

.cart__form-input:last-of-type {
  margin-bottom: 34px;
}

.cart__form-input:focus {
  border-color: #F1E4E4;
}

.cart__form-input:hover {
  background-color: #F1E4E4;
}

.cart__form-button {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
  border: 1px solid #A4A4A4;
  box-sizing: border-box;
  text-transform: uppercase;
  color: #A4A4A4;
  transition-duration: 500ms;
  transition-timing-function: ease in;
}

.cart__form-button:hover, .cart__form-button:focus {
  background: #F16D7F;
  color: #FFFFFF;
  transform: scale(1.1);
}

.cart__form-total {
  text-align: right;
  box-sizing: border-box;
  padding: 39px 34px;
  width: 100%;
  min-height: 214px;
  background: #F5F3F3;
  margin-top: 69px;
}

.cart__form-total-sub {
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.cart__form-total-sub-price {
  margin-left: 20px;
}

.cart__form-total-main {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.cart__form-total-main-price {
  margin-left: 20px;
  color: #F16D7F;
}

.cart__form-total-delimeter {
  border: 1px solid #B1B1B1;
  margin-bottom: 17px;
}

.cart__form-total-button {
  width: 273px;
  height: 50px;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  display: block;
  font-size: 16px;
  line-height: 50px;
  font-weight: 300;
  font-style: normal;
  color: #FFFFFF;
  background: #F16D7F;
  background-position: 121px center;
  text-transform: uppercase;
  transition-duration: 500ms;
  transition-timing-function: ease in;
}

.cart__form-total-button:hover, .cart__form-total-button:focus {
  background: none;
  color: #B1B1B1;
  border: 1px solid #A4A4A4;
  transform: scale(1.05);
}

.product__header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}

.product__header-bg {
  width: 100%;
  height: 148px;
  background: #F8F3F4;
}

.product__header-name h1 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}

.product__header-crumps h1 {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
}

.product__category-name {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  color: #F16D7F;
}

.product__carousel-img {
  width: 100%;
}

.product__info {
  margin-top: -65px;
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  align-items: center;
  padding-bottom: 65px;
  margin-bottom: 129px;
  position: relative;
}

.product__info h3 {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
  padding: 0 0 12px 0;
}

.product__info h2 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  padding: 12px 0 48px 0;
}

.product__info-content {
  width: 300px;
}

.product__info-description {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #5E5E5E;
  width: 555px;
  text-align: center;
  padding: 0 0 32px 0;
}

.product__info-price {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  color: #F16D7F;
  padding: 0 0 65px 0;
}

.product__info-line-red {
  height: 3px;
  width: 63px;
  background-color: #F16D7F;
  border-style: none;
}

.product__info-line-grey {
  color: #A4A4A4;
  width: 641px;
  border-style: solid;
  opacity: 0.2;
}

.product__info-choose-list {
  padding: 65px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.product__dropdown-svg {
  padding: 0 23px 0 9px;
}

.product__info-choose-item {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #5E5E5E;
  padding: 0 0 50px 0;
}

.product__addtocart-btn {
  background-color: #FFFFFF;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  padding: 15px 56px 15px 23px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  transition-duration: 500ms;
  transition-timing-function: ease in;
}

.product__addtocart-btn:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
  transform: scale(1.1);
}

.product__other {
  padding-bottom: 129px;
}

.fa {
  padding: 0 23px 0 0;
}

.slider__item-content {
  display: flex;
  justify-content: center;
  background-color: #F7F7F7;
}

.catalog__header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}

.catalog__header-bg {
  width: 100%;
  height: 148px;
  background: #F8F3F4;
}

.catalog__header-name h1 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}

.catalog__header-crumps h1 {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
}

.catalog__category-name {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  color: #F16D7F;
}

.catalog__filter-box {
  display: flex;
  padding: 51px 0 0 0;
}

.catalog__filter {
  display: flex;
  align-items: center;
  position: relative;
}

.catalog__filter-img {
  display: flex;
}

.catalog__filter-heading {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  font-style: normal;
  padding: 0 11px 0 0;
}

.catalog__filter:hover .catalog__filter-menu {
  display: block;
}

.catalog__filter:hover .catalog__filter-menu-header {
  color: #F16D7F;
}

.catalog__filter-menu-header {
  display: flex;
}

.catalog__filter-menu {
  display: none;
  z-index: 1;
  top: 0px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  padding-left: 34px;
  padding-top: 13px;
  width: 360px;
  height: 531px;
  box-shadow: 1px 1px 17px 1px #F5F3F3;
  background: #FFFFFF;
  box-sizing: border-box;
  position: absolute;
  color: #000000;
}

.catalog__filter-menu ul li {
  margin: 0 0 11px 0;
}

.catalog__filter-menu ul a {
  margin: 0 0 0 20px;
}

.catalog__filter-block {
  border-left: 5px solid #EF5B70;
  margin: 16px 0 0 0;
  height: 37px;
  box-shadow: -1px 1px 0px 1px #F5F3F3;
  display: flex;
  align-items: center;
  padding-left: 11px;
  color: #EF5B70;
  text-transform: uppercase;
}

.catalog__filter-menu a {
  text-decoration: none;
  display: block;
  color: #5E5E5E;
}

.catalog__filter-menu a:hover {
  color: #F16D7F;
}

.catalog__filter-choose-list {
  display: flex;
  padding: 0 0 0 305px;
}

.catalog__dropdown-svg {
  padding: 0 23px 0 9px;
}

.catalog__filter-choose-item {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #5E5E5E;
}

.catalog__pagination-box {
  display: flex;
  justify-content: center;
}

.catalog__pagination {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 12px 8px 13px 8px;
  margin: 48px 0 96px 0;
}

.catalog__pagination a {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #A4A4A4;
  padding: 8px 16px;
  text-decoration: none;
}

.catalog__pagination-item:hover {
  color: #F16D7F;
}
/*# sourceMappingURL=style.css.map */