:root {
    --dark: #222222;
    --very-dark-blue: #222224;
    --black: #000000;
    --pink: #F1E4EE;
    --dark-pink: #F16D7F;
    --brown: #474040;
    --grey: #9F9F9F;
    --very-light-grey: #FBFBFB;
    --dark-grey: #A4A4A4;
    --space-grey: #B1B1B1;
    --granite-grey: #575757;
    --white: #FFFFFF;
    --cold-white: #F8F8F8;
    --white-smoke: #F5F3F3;
    --gainsboro: #E1E1E1;
    --lavender-blush: #F8F3F4;
    --red: #FF0000;
    --very-light-red: #FF6A6A;
    --soft-red: #F26376;
}

html { 
    overflow-x:  hidden;
}

body {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

button, 
button:active, 
button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.container {
    width: 1138px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.header {
    background-color: var(--dark);
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 75px;
}

.header__menu-hover {
    position: absolute;
    width: 1670px;
    height: 764px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.header__navigation {
    display: none;
    height: 765px;
    width: 232px;
    position: absolute;
    right: 0;
    z-index: 1;
    font-size: 14px;
    line-height: 17px;
    background: var(--white);
    box-shadow: 0px 0px 5px rgb(0 0 0 / 50%);
}

.header__menu {
    padding: 32px 0 0 32px;
}

.header__menu--close {
    background-image: url(../img/close-menu.svg);
    margin: 16px 16px 12px;
    height: 12px;
    width: 12px;
    position: absolute;
    right: 17px;
    top: 16px;
}

.header__menu-heading {
    color: var(--dark);
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    padding: 0px 0 0px 20px;
}

.header__nav-parent-category {
    color: var(--dark-pink);
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

.header__navlist li {
    margin: 12px 0 0 20px;
}

.display-block {
    display: block;
}

.header__navigation a {
    text-decoration: none;
    color: hsl(0, 0%, 43%);
}

.header__button {
    border: none;
    background-color: transparent;
    margin: 0 34px 0 0;
}

.header__button:hover .header__menu-icon {
    filter: invert(25%);
}

.header__person-link:hover .header__reg-icon {
    filter: invert(25%);
}

.header__cart-link:hover .header__cart-icon {
    filter: invert(25%);
}

.header__loupe-logo:hover {
    filter: invert(25%);
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__person-link {
    margin: 0 34px 0 0;
}

.brand {
    display: flex;
    margin: 0 0 63px;
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.brand__title-wrapper {
    padding: 0 0 0 45px;
    flex-grow: 1;
    background-color: var(--pink);
    display: flex;
    align-items: center;
}

.brand__subtitle {
    display: block;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}

.brand__subtitle-pink {
    color: var(--dark-pink);
}

.offers {
    padding: 0 0 97px 0;
}

.offers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.offers__item {
    color: var(--white);
    width: 360px;
    min-height: 260px;
    background-color: var(--brown);
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offers__item--woman {
    background-image: url(../img/woman-offers.jpg);
}

.offers__item--man {
    background-image: url(../img/man-offers.png);
}

.offers__item--kids {
    background-image: url(../img/kids-offers.png);
}

.offers__item--accessories {
    background-image: url(../img/accessories-offers.png);
    width: 100%;
    margin: 0;
}

.offers__title {
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.offers__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: var(--dark-pink);
}

.products__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: var(--dark);
    text-align: center;
}

.products__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--grey);
    text-align: center;
}

.products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
    padding: 48px 0 0 0;
}

.products__item {
    width: 360px;
    margin: 0 0 30px;
    background: var(--cold-white);
}

.products__add {
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--dark);
    opacity: 0.7;
    top: 0px;
    min-height: 420px;
}

.products__item-overlay {
    text-decoration: none;
    padding: 0 13px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    border: 1px solid var(--white);
    box-sizing: border-box;
    font-size: 14px;
    color: var(--white);
    min-height: 43px;
    min-width: 138px;
    fill: var(--white);
    top: 192px;
    left: 110px;
    position: absolute;
}

.products__image:hover .products__add {
    display: block;
}

.products__add {
    display: none;
}

.products__image {
    position: relative;
}

.products__info {
    padding: 25px 29px 20px 16px;
}

.products__name {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    margin: 0 0 12px;
}

.products__description {
    font-weight:300;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 18px;
}

.products__price {
    font-size: 16px;
    line-height: 19px;
    color: var(--dark-pink);
}

.products__more {
    display: flex;	
    justify-content: center;
    margin: 49px 0 96px 0;
}

.products__btn {
    appearance: none;
    border: 1px solid var(--very-light-red);
    color: var(--soft-red);
    background-color: var(--white);
    padding: 14px 38px 13px 38px;
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
}

.products__btn:hover {
    background: var(--dark-pink);
    color: var(--white);
}

.products__btn:active {
    border-color: var(--red);
}

.advantages {
    background-color: var(--very-dark-blue);
    max-height: 341px;
}

.advantages__list {
    display: flex;
    padding: 103px 0 104px 0;

}

.advantages__item {
    text-align: center;
}

.advantages__name {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: var(--very-light-grey);
    padding: 28px 0 16px 0;
}

.advantages__description{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--very-light-grey);
}

.footer__subscription {
    background-image: url(../img/footer-background.png);
    background-repeat: no-repeat;
    height: 448px;
    background-size: 100%;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__quote {
    padding: 97px 0 0 0;
    text-align: center;
}

.footer__text {
    width: 359px;
    font-size: 20px;
    line-height: 24px;
    color: var(--very-dark-blue);
    padding: 30px 0 0 0;
}

.footer__text-italic {
    font-style: italic;
}

.footer__subscribe {
    padding: 150px 100px 0 0;
}

.footer__substitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: var(--very-dark-blue);
    text-align: center;
    text-transform: uppercase;
}

.footer__substext {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: var(--very-dark-blue);
    text-align: center;
    text-transform: uppercase;
    padding: 0 0 32px 0;
}

.footer__input {
    background: var(--gainsboro);
    width: 170px;
    height: 36px;
    padding: 7px 64px 6px 22px;
    border-radius: 24px 0px 0px 24px;
    border: 0px;
    opacity: 0.67;
    font-size: 14px;
    line-height: 17px;
}

.footer__form {
    display: flex;
}

.footer__form--subscribe{
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    width: 95px;
    padding: 7px 6px 6px 15px;
    border: 0px;
    color: var(--white);
    background: var(--dark-pink);
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 0px 24px 24px 0px;
}

.footer__form--subscribe:hover {
    opacity: 0.6;
}

.footer__bottom {
    background-color: var(--very-dark-blue);
    height: 79px;
}

.footer__copy {
    font-size: 16px;
    line-height: 19px;
    color: var(--very-light-grey);
    margin: 24px 0 0 0;
}

.footer__icons {
    display: flex;
    justify-content: space-between;
    margin: 24px 0 0 0;
}

.footer__icons-img {
    background-color: var(--white);
    width: 32px;
    height: 32px;
    margin-right: 7.3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__icons-img:hover {
    background-color: var(--dark-pink);
}

.registration__header-bg {
    width: 100%;
    height: 148px;
    background: var(--lavender-blush);
}

.registration__header-content {
    padding: 59px 0 60px 0;
}

.registration__header-content h1 {
    font-size: 24px;
    line-height: 29px;
    color: var(--dark-pink);
    text-transform: uppercase;
}

.registration__area {
    display: flex;
    justify-content: space-between;
}

.registration__form {
    display: flex;
    flex-direction: column;
    width: 360px;
    box-sizing: border-box;
    padding: 64px 0 96px 0;
}

.registration__title{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: var(--black);
}

.registration__form h5 {
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: var(--grey);
}

.registration__form-width {
    width: 100%;
}

.registration__form input {
    margin-top: 20px;
    height: 45px;
    padding-left: 16.7px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    background: var(--white); 
    border: 1px solid var(--grey);
}

.registration__radio-btn {
    display: flex;
    align-items: flex-end;
    margin: 0 0 33px 0;
}

.registration__radio-btn label {
    margin: 0 10px 15px 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
}

.registration__btn {
    width: 167px;
    height: 50px;
    background-color: var(--dark-pink);
    box-sizing: border-box;
    border: none;
    color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px 0 29px;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

.registration__btn:hover {
    opacity: 0.6;
    color: var(--white);
}

.registration__loyalty {
    max-width: 652px;
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
}

.registration__loyalty h2 {
    margin-bottom: 22px;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: var(--black);
    text-transform: uppercase;
}

.registration__loyalty ul {
    margin: 21px 0 0 28px;
}

.registration__loyalty li {
    list-style-image: url(../img/check.png);
    margin-bottom: 16px;
}