/*colors*/
$dark: #222222;
$very-dark-blue: #222224;
$black: #000000;
$pink: #F1E4E4;
$dark-pink: #F16D7F;
$brown: #474040;
$grey: #9F9F9F;
$very-light-grey: #FBFBFB;
$dark-grey: #A4A4A4;
$space-grey: #B1B1B1;
$granite-grey: #575757;
$white: #FFFFFF;
$cold-white: #F8F8F8;
$white-smoke: #F5F3F3;
$gainsboro: #E1E1E1;
$lavender-blush: #F8F3F4;
$red: #FF0000;
$very-light-red: #FF6A6A;
$soft-red: #F26376;

/* adaptive */
$desktop-width: 1600px;
$tablet-width: 768px;
$mobile-width: 375px;