.footer {

    &__subscription {
        background-image: url(../img/footer-background.png);
        background-repeat: no-repeat;
        height: 448px;
        background-size: 100%;

        @include tablet {
            background-size: cover;
            height: 100%;
        }
    }

    &__subscription-content  {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include tablet {
            flex-direction: column;
        }
    }


    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mobile {
            flex-direction: column-reverse;
        }
    }

    &__quote {
        padding: 97px 0 0 0;
        text-align: center;

        @include tablet {
            padding: 53px 0 48px 0;
        }
    }

    &__text {
        @include font(20px,24px);
        width: 359px;
        color: $very-dark-blue;
        padding: 30px 0 0 0;
    }

    &__text-italic {
        font-style: italic;
    }

    &__subscribe {
        padding: 150px 100px 0 0;

        @include tablet {
            padding: 0 0 140px 0;
        }
    }

    &__substitle {
        @include font(24px,38px,700);
        color: $very-dark-blue;
        text-align: center;
        text-transform: uppercase;

        @include mobile {
            @include font(24px,27px,700)
        }
    }

    &__substext {
        @include font(18px,30px,400);
        color: $very-dark-blue;
        text-align: center;
        text-transform: uppercase;
        padding: 0 0 32px 0;

        @include mobile {
            @include font(14px,22px)
        }
    }

    &__input {
        @include font(14px,17px);
        background: $gainsboro;
        width: 170px;
        height: 36px;
        padding: 7px 64px 6px 22px;
        border-radius: 24px 0px 0px 24px;
        border: 0px;
        opacity: 0.67;
        cursor: pointer;
    }

    &__input:hover {
        background: $pink;
    }

    &__input:focus {
        border-color: $soft-red;
    }

    &__form {
        display: flex;
    }

    &__form--subscribe{
        @include font(14px,17px);
        text-decoration: none;
        width: 95px;
        padding: 7px 6px 6px 15px;
        border: 0px;
        color: $white;
        background: $dark-pink;
        display: flex;
        align-items: center;
        text-align: center;
        border-radius: 0px 24px 24px 0px;
        cursor: pointer;
    }

    &__form--subscribe:hover {
        opacity: 0.6;
    }

    &__bottom {
        background-color: $very-dark-blue;
        height: 79px;

        @include mobile {
            height: 100%;
        }
    }

    &__copy {
        @include font(16px,19px);
        color: $very-light-grey;
        margin: 24px 0 0 0;

        @include mobile {
            margin: 40px 0 9px 0;
        }
    }

    &__icons {
        display: flex;
        justify-content: space-between;
        margin: 24px 0 0 0;

        @include mobile {
            margin: 43px 0 0 0;
        }
    }

    &__icons-img {
        background-color: $white;
        width: 32px;
        height: 32px;
        margin-right: 7.3px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    &__icons-img:hover {
        background-color: $dark-pink;
    }
}